body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: pink;
    box-sizing: border-box;
  }

  header {
    background-color: #f713c5;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .logo {
    display: flex;
    align-items: center;
  }

  header img {
    max-width: 60px; /* Adjust the max-width as needed */
    height: 60px;
    margin-right: 10px; /* Add some spacing between the logo and text */
    border-radius: 30px;
  }

  header h1 {
    margin: 0;
  }

  nav {
    background-color: #444;
    padding: 10px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav li {
    position: relative;
  }

  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #555;
    min-width: 100%; /* Adjust the width as needed */
  }

  nav ul li:hover > ul {
    display: flex;
    flex-direction: column;
  }

      /* Navbar container */
  .navbar {
  overflow: hidden;
  background-color: #f713c5;
  font-family: Arial;
  }

  /* Links inside the navbar */
  .navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

  /* The dropdown container */
  .dropdown {
  float: left;
  overflow: hidden;
  }

  /* Dropdown button */
  .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  }

  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: black;
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
  display: none;
  position: absolute;
  background-color:  #f713c5;
  min-width: 160px;
  
  z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  }

  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
  background-color: magenta;
  min-width: 160px;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
  display: block;
  }

  footer {
      background-color:  #f713c5;
      color: #fff;
      text-align: center;
      padding: 4px;
      position: fixed;
      width: 100%;
      bottom: 0;
      line-height: 0.8; /* Adjust as needed */
      } 
      .mental{
text-align: center;
text-transform: uppercase;
color:#ff15d4
}
section {
          padding: 40px;
          margin: 20px;
          background-color:rgb(255, 201, 210);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          color:#3c3434;
          text-align: center;
      }

      .practices-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .practices-section img {
        max-width: 250px;
        max-height: 300px;
        margin-right: 20px;
        border-radius: 8px;
    }
